/* ===========================
 table of contents
==============================
1. Hero Design
2. Hero Info
3- Hero Section Image
4- Responsive Design (media query)*/

/* ========================
    1. Hero Design
=========================== */
.Hero {
  margin-top: 3rem;
  padding: 0 10%;
}
/* ========================
    2. Hero Info
=========================== */
.Hero .Hero-info {
  flex-grow: 1;
}
.Hero .Hero-info .img-person {
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgb(250, 211, 140);
  margin-right: 1%;
  padding: 0.5px;
  background: gray;
}
.Hero .Hero-info .icon-verified {
  color: var(--blue);
  display: inline-block;
}
.Hero .Hero-info .Hero-info-title {
  color: var(--title);
  margin: 15px 0;
}
.Hero .Hero-info .Hero-info-des {
  color: var(--sub-title);
  font-size: 14px;
  margin: 15px 0;
  letter-spacing: 1px;
}
.Hero .Hero-info .all-icons {
  gap: 1.2rem;
}
.Hero .Hero-info .all-icons {
  gap: 1.2rem;
  margin: 10px 0;
}
.Hero .Hero-info .all-icons > span {
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  font-size: 20px;
}
.Hero .Hero-info .all-icons > span:hover {
  color: var(--icon-hover);
}
/* ========================
    3- Hero Section Image
=========================== */
.Hero .Hero-image {
}
/* ========================
    4- Responsive Design (media query)
=========================== */
@media (max-width: 500px) {
  .Hero {
    padding: 0 5%;
  }
}
