@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tj579l');
  src:  url('fonts/icomoon.eot?tj579l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tj579l') format('truetype'),
    url('fonts/icomoon.woff?tj579l') format('woff'),
    url('fonts/icomoon.svg?tj579l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-verified:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-link1:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e904";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-github:before {
  content: "\f09b";
}
.icon-chain:before {
  content: "\f0c3";
}
.icon-link:before {
  content: "\f0c3";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-sun:before {
  content: "\e902";
}
.icon-arrow-outline-up:before {
  content: "\e903";
}
